.selector-container {
  text-align: center;
  padding: 0 20px;
}

.tooth-schema {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jaw {
  display: flex;
  justify-content: center;
}

.quadrant {
  display: flex;
}

.tooth {
  cursor: pointer;
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  img {
    width: 30px;
    height: 50px;
    display: block;
    transition: filter 0.3s ease; // Sanfter Übergang für den Filter
  }

  &:hover {
    // Ein leichter "Lift"-Effekt mit einem warmen Schatten
    transform: translateY(-2px);
    img {
      filter: drop-shadow(0 4px 8px rgba(164, 102, 58, 0.35));
    }
  }

  &.selected {
    // Behält den Zoom-Effekt bei und wendet einen Schatten direkt auf das Bild an
    transform: scale(1.1);
    img {
      filter: drop-shadow(0 0 10px rgba(251, 120, 27, 0.7));
    }
  }
}

.confirmation-section {
  margin-top: 20px;
  p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .confirm-button {
    background-color: var(--secondary-color); // Das Grün aus deinem Theme
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: #257247; // Ein dunkleres Grün
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
  }
}